svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
    stroke-opacity: .7;
    stroke-width: 3px !important;
}

.foreground path:hover{
    stroke-width: 7px !important;
}

.background path:hover{
    stroke-width: 7px !important;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

