/* SVG styling */
/*path {
    fill: #CED8B6;
}

line {
    stroke: #555;
    stroke-width: 2px;
}

line#bestfit {
    stroke: #ddd;
    stroke-width: 10px;
}

#xAxis path, #yAxis path, #xAxis line, #yAxis line {
    stroke: #ccc;
    fill: none;
    shape-rendering: crispEdges;
}

text {
    font-size: 12px;
    fill: #888;
}*/
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    opacity: 1.0;
    cursor:pointer;
}

.opac{
    opacity: 0.3;
}

.tooltip {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/

}